
h1{
    text-align: center;
    font-size: 80px;
    padding-bottom: 15%;
    padding-top: 20px;
}
body{
    background-image: url("https://fondosmil.com/fondo/17010.jpg");
    background-size:100%;
    text-align: center;
}
input[type="text"]{
    width: 25%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius:6px 6px 6px 6px;
}

input[type="password"]{
    width: 25%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius:6px 6px 6px 6px;
}

input[type="submit"]{
    width: 15%;
    padding: 10px;
    background: #246eb9;
    border-radius:6px 6px 6px 6px;
    margin-top: 10px;
    
}
 .error {
    max-width: 20%;
	margin: auto;
	background: #ce1818;
	color: #fff;
    border-radius:6px 6px 6px 6px;
    text-align:justify;
}

@media (max-width:1000px){
    body{
        background-image: url("https://fondosmil.com/fondo/17010.jpg");
        background-size:100%;
        text-align: center;
    }  
}
